.input-error {
    background-color: rgba(255,0,0,0.1) !important;
    border-color: red !important;
}

.button-error {
    background-color: #d32f2f;
    color: #fff;
    border-color: #d32f2f;
}

#error-box{
    color: red;
    font-weight: bold;
    padding-bottom: 20px;
}

.toplevel_page_autogestiones-gestor img {
    height: 24px !important;
    margin: 0 auto !important;
    padding: 4px 0 !important;
}